<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layout/header :: layout(~{::body})}">

<body>


	<!-- Container chính -->
	<div class="container mt-5">
		<div class="row">
			<!-- Cột bên trái -->
			<div class="col-md-3">
				<!-- Card: Bài viết yêu thích -->
				<div class="card mb-3">
					<img th:src="@{/images/banner_right_2.png}" class="card-img-top" alt="Avatar">
					<div class="card-body">
						<h6 class="card-title">Top các bài viết được yêu thích nhiều nhất</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item" th:each="article : ${articles}" th:text="${article.title}"></li>
						</ul>
					</div>
				</div>
				<!-- Card: Thông báo -->
				<div class="card">
					<div class="card-body">
						<h6 class="card-title">Các bài viết liên quan</h6>
						<p class="card-text" th:text="'Bạn có 12 thông báo chưa đọc.'"></p>
					</div>
				</div>
			</div>

			<!-- Cột nội dung chính -->
			<div class="col-md-6">
				<!-- Card: Bài viết 1 -->
				<div class="card mb-3" th:each="article : ${articles}">

					<div class="card-body">
						<img th:src="@{${article.image}}" alt="Article Image" class="img-fluid"
							style="max-width: 70%; height: auto;">

						<h5 class="card-title" th:text="${article.title}"
							th:attr="onclick='redirectToArticle(' + ${article.articleId} + ')'"
							style="cursor: pointer;"></h5>
						<p class="text-muted"><small>Ngày đăng: <span
									th:text="${#dates.format(article.orderDate, 'dd-MM-yyyy')}"></span></small></p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="d-flex align-items-center">
								<button class="btn btn-like" th:attr="data-id=${article.articleId}"
									th:disabled="${likedArticles.contains(article.articleId)}"
									style="border: none; background: none; cursor: pointer;">❤️</button>
								<span class="likes-count" th:text="${article.likes}"></span>
							</div>

						</div>

					</div>
				</div>
			</div>

			<!-- Cột bên phải -->
			<div class="col-md-3">
				<!-- Card: Quảng cáo -->
				<div class="card mb-3">
					<img th:src="@{/images/showinhinhanh1.png}" class="card-img-top" alt="Quảng cáo">
					<div class="card-body">
						<h6 class="card-title" style="cursor: pointer;" onclick="redirectToProduct()">Quảng cáo</h6>

						<p class="card-text">Khám phá sản phẩm mới tại cửa hàng của chúng tôi!</p>

					</div>
				</div>
				<!-- Card: Thống kê -->
				<div class="card">
					<div class="card-body">
						<h6 class="card-title">Thống kê</h6>
						<img th:src="@{/images/slide-fs-2024_35f9b22d96e94f6bb82836e62fff88a3_large.png}"
							class="img-fluid mb-3" alt="Thống kê hình ảnh">
						<p class="card-text">Có 20 người đã xem trang của bạn hôm nay.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="user/layout/footer"></div>

</body>

</html>