<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layout/header :: layout(~{::body})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

</head>

<body>

	<section class="mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card shadow-lg">
						<!-- Header -->
						<div class="card-header text-center text-white bg-primary fs-4">
							<i class="fas fa-user-plus me-2"></i>Change Password
						</div>
						<th:block th:if="${msg != null}">
							<div class="d-flex justify-content-center align-items-center" style="min-height: 100px;">
								<p class="text-center fs-4 fw-bold"
									th:class="${msg.contains('successful') ? 'text-success' : 'text-danger'}"
									th:text="${msg}">
								</p>
							</div>
						</th:block>



						<!-- Body -->
						<div class="card-body">
							<form action="/user/updatePassword" method="post">
								<!-- Old Password -->
								<div class="mb-3">
									<label for="oldPass" class="form-label">Old Password</label>
									<div class="input-group">
										<span class="input-group-text"><i class="fas fa-lock"></i></span>
										<input type="password" id="oldPass" name="oldPass" class="form-control"
											placeholder="Enter old password" required>
									</div>
								</div>

								<!-- New Password -->
								<div class="mb-3">
									<label for="newPass" class="form-label">New Password</label>
									<div class="input-group">
										<span class="input-group-text"><i class="fas fa-lock"></i></span>
										<input type="password" id="newPass" name="newPass" class="form-control"
											placeholder="Enter new password"
											pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
											title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ cái và số" required>
									</div>
								</div>

								<!-- Submit Button -->
								<div class="d-grid">
									<button type="submit" class="btn btn-primary">
										<i class="fas fa-paper-plane"></i> Change Password
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>