<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.5">
<title>Quản lý đơn hàng</title>
<!-- Link CSS Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Thêm CSS tùy chỉnh -->
<style>
/* tab */
/* Thiết lập nền chung cho tất cả các tab */
.nav-tabs-container {
    background-color: #BDCBF4; 
    padding: 10px 0; /* Khoảng cách trên và dưới */
}

/* end tab */
</style>

</head>

<body>
	<!-- Header -->
	<div th:replace="employee/header"></div>

	<!-- End Header -->

	<!-- Nav Tabs -->
	<ul class="nav nav-pills nav-justified nav-tabs-container"
		id="orderTab" role="tablist">
		<li class="nav-item" role="presentation"><a
			class="nav-link active" id="all-orders-tab" data-bs-toggle="pill"
			href="#all-orders" role="tab" aria-controls="all-orders"
			aria-selected="true">Tất Cả</a></li>
		<li class="nav-item" role="presentation"><a class="nav-link noactive"
			id="pending-orders-tab" data-bs-toggle="pill" href="#pending-orders"
			role="tab" aria-controls="pending-orders" aria-selected="false">Chờ
				Xác Nhận</a></li>
		<li class="nav-item" role="presentation"><a class="nav-link"
			id="confirmed-orders-tab" data-bs-toggle="pill"
			href="#confirmed-orders" role="tab" aria-controls="confirmed-orders"
			aria-selected="false">Đã Xác Nhận</a></li>
		<li class="nav-item" role="presentation"><a class="nav-link"
			id="in-delivery-orders-tab" data-bs-toggle="pill"
			href="#in-delivery-orders" role="tab"
			aria-controls="in-delivery-orders" aria-selected="false">Đang
				Giao</a></li>
		<li class="nav-item" role="presentation"><a class="nav-link"
			id="delivered-orders-tab" data-bs-toggle="pill"
			href="#delivered-orders" role="tab" aria-controls="delivered-orders"
			aria-selected="false">Đã Giao</a></li>
		<li class="nav-item" role="presentation"><a class="nav-link"
			id="cancelled-orders-tab" data-bs-toggle="pill"
			href="#cancelled-orders" role="tab" aria-controls="cancelled-orders"
			aria-selected="false">Đã Hủy</a></li>
	</ul>

	<!-- Main Content -->
		<div class="tab-content" id="orderTabContent">
<!-- 			Tab "Tất Cả"	 -->
			<div class="tab-pane fade show active" id="all-orders" role="tabpanel"
				aria-labelledby="all-orders-tab">
				<table class="table order-table">
					<thead>
						<tr>
							<th>Mã Hóa Đơn</th>
							<th>Ngày Tạo</th>
							<th>Tổng Giá Trị</th>
							<th>Trạng Thái</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr class="order-row" th:each="order : ${allOrders}">
							<td th:text="${order.orderID}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.totalPrice}"></td>
							<td th:text="${order.status}"></td>
							<td>
								<form
									th:action="@{/employee/updateOrderStatus/{orderID}(orderID=${order.orderID})}"
									method="post">
									<select name="status" class="form-control">
										<option value="0" th:selected="${order.status == 0}">Chờ
											xác nhận</option>
										<option value="1" th:selected="${order.status == 1}">Đã
											xác nhận</option>
										<option value="2" th:selected="${order.status == 2}">Đang
											giao</option>
										<option value="3" th:selected="${order.status == 3}">Đã
											giao</option>
										<option value="4" th:selected="${order.status == 4}">Đã
											hủy</option>
									</select>
									<button type="submit" class="btn btn-primary mt-2">Cập
										nhật</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Tab "Chờ Xác Nhận" -->
	 
			<div class="tab-pane fade" id="pending-orders" role="tabpanel"
				aria-labelledby="pending-orders-tab">
				<table class="table order-table">
					<thead>
						<tr>
							<th>Mã Hóa Đơn</th>
							<th>Ngày Tạo</th>
							<th>Tổng Giá Trị</th>
							<th>Trạng Thái</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr class="order-row" th:each="order : ${pendingOrders}">
							<td th:text="${order.orderID}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.totalPrice}"></td>
							<td th:text="${order.status}"></td>
							<td>
								<form
									th:action="@{/employee/updateOrderStatus/{orderID}(orderID=${order.orderID})}"
									method="post">
									<select name="status" class="form-control">
										<option value="1" th:selected="${order.status == 1}">Xác
											nhận</option>
										<option value="2" th:selected="${order.status == 2}">Đang
											giao</option>
										<option value="3" th:selected="${order.status == 3}">Đã
											giao</option>
										<option value="4" th:selected="${order.status == 4}">Hủy
											đơn</option>
									</select>
									<button type="submit" class="btn btn-primary mt-2">Cập
										nhật</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Tab "Đã xác nhận" -->

			<div class="tab-pane fade" id="confirmed-orders" role="tabpanel"
				aria-labelledby="confirmed-orders-tab">
				<table class="table order-table">
					<thead>
						<tr>
							<th>Mã Hóa Đơn</th>
							<th>Ngày Tạo</th>
							<th>Tổng Giá Trị</th>
							<th>Trạng Thái</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr class="order-row" th:each="order : ${confirmedOrders}">
							<td th:text="${order.orderID}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.totalPrice}"></td>
							<td th:text="${order.status}"></td>
							<td>
								<form
									th:action="@{/employee/updateOrderStatus/{orderID}(orderID=${order.orderID})}"
									method="post">
									<select name="status" class="form-control">
										<option value="1" th:selected="${order.status == 1}">Xác
											nhận</option>
										<option value="2" th:selected="${order.status == 2}">Đang
											giao</option>
										<option value="3" th:selected="${order.status == 3}">Đã
											giao</option>
										<option value="4" th:selected="${order.status == 4}">Hủy
											đơn</option>
									</select>
									<button type="submit" class="btn btn-primary mt-2">Cập
										nhật</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Tab "Đang giao" -->
	 
			<div class="tab-pane fade" id="in-delivery-orders" role="tabpanel"
				aria-labelledby="in-delivery-orders-tab">
				<table class="table order-table">
					<thead>
						<tr>
							<th>Mã Hóa Đơn</th>
							<th>Ngày Tạo</th>
							<th>Tổng Giá Trị</th>
							<th>Trạng Thái</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr class="order-row" th:each="order : ${inDeliveryOrders}">
							<td th:text="${order.orderID}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.totalPrice}"></td>
							<td th:text="${order.status}"></td>
							<td>
								<form
									th:action="@{/employee/updateOrderStatus/{orderID}(orderID=${order.orderID})}"
									method="post">
									<select name="status" class="form-control">
										<option value="1" th:selected="${order.status == 1}">Xác
											nhận</option>
										<option value="2" th:selected="${order.status == 2}">Đang
											giao</option>
										<option value="3" th:selected="${order.status == 3}">Đã
											giao</option>
										<option value="4" th:selected="${order.status == 4}">Hủy
											đơn</option>
									</select>
									<button type="submit" class="btn btn-primary mt-2">Cập
										nhật</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Tab "Đã giao" -->
	 
			<div class="tab-pane fade" id="delivered-orders" role="tabpanel"
				aria-labelledby="delivered-orders-tab">
				<table class="table order-table">
					<thead>
						<tr>
							<th>Mã Hóa Đơn</th>
							<th>Ngày Tạo</th>
							<th>Tổng Giá Trị</th>
							<th>Trạng Thái</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr class="order-row" th:each="order : ${deliveredOrders}">
							<td th:text="${order.orderID}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.totalPrice}"></td>
							<td th:text="${order.status}"></td>
							<td>
								<form
									th:action="@{/employee/updateOrderStatus/{orderID}(orderID=${order.orderID})}"
									method="post">
									<select name="status" class="form-control">
										<option value="3" th:selected="${order.status == 3}">Đã
											giao</option>
										<option value="4" th:selected="${order.status == 4}">Hủy
											đơn</option>
									</select>
									<button type="submit" class="btn btn-primary mt-2">Cập
										nhật</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Tab "Đã hủy" -->
	 
			<div class="tab-pane fade" id="cancelled-orders" role="tabpanel"
				aria-labelledby="cancelled-orders-tab">
				<table class="table order-table">
					<thead>
						<tr>
							<th>Mã Hóa Đơn</th>
							<th>Ngày Tạo</th>
							<th>Tổng Giá Trị</th>
							<th>Trạng Thái</th>
							<th>Hành Động</th>
						</tr>
					</thead>
					<tbody>
						<tr class="order-row" th:each="order : ${cancelledOrders}">
							<td th:text="${order.orderID}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.totalPrice}"></td>
							<td th:text="${order.status}"></td>
							<td>
								<form
									th:action="@{/employee/updateOrderStatus/{orderID}(orderID=${order.orderID})}"
									method="post">
									<select name="status" class="form-control">
										<option value="0" th:selected="${order.status == 0}">Chờ
											xác nhận</option>
										<option value="1" th:selected="${order.status == 1}">Đã
											xác nhận</option>
										<option value="2" th:selected="${order.status == 2}">Đang
											giao</option>
										<option value="3" th:selected="${order.status == 3}">Đã
											giao</option>
										<option value="4" th:selected="${order.status == 4}">Đã
											hủy</option>
									</select>
									<button type="submit" class="btn btn-primary mt-2">Cập
										nhật</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	<!-- Footer -->
	<div th:replace="employee/footer"></div>
	<!-- End Footer -->
	

	<!-- Bootstrap JS và các thư viện cần thiết -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>

