<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Thông tin liên hệ -->
            <div class="col-md-6">
                <h5 class="text-uppercase">UTEGEAR</h5>
                <p>Địa chỉ: Số 1 Võ Văn Ngân, Trường Đại học Sư phạm Kỹ thuật</p>
                <p>Điện thoại: <a href="tel:04254212454" class="text-white text-decoration-none">0425 421 244</a></p>
            </div>
            <!-- Mạng xã hội -->
            <div class="col-md-6 text-md-end">
                <h5 class="text-uppercase">Theo dõi</h5>
                <a href="#" class="text-white me-3">
                    <i class="bi bi-facebook"></i> Facebook
                </a>
           
                <a href="#" class="text-white">
                    <i class="bi bi-instagram"></i> Instagram
                </a>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 UTEGEAR. All Rights Reserved.</p>
        </div>
    </div>
</footer>
